<div class="-mt-12 relative flex flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
  <div class="relative bg-white mt-12 px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <%= live_component(FurtherFromWeb.EventSearchLiveComponent,
      id: :search,
      title: "Search for an event",
      events_count: Enum.count(@matched_events),
      events: @matched_events
    ) %>
  </div>
</div>

