<div class="relative grid py-12 w-full">
  <div class="relative grid py-6 w-screen bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <h1 class="text-4xl font-semibold">Interesting pairs</h1>
    <ul class="py-4">
      <li><.link navigate={~p"/first-flight/apollo-11-moon-landing"} class="text-blue-700 hover:underline">Wright Brother's First Flight / Apollo 11 Moon Landing</.link></li>
    </ul>
  </div>
</div>
